body {
  font-family: "Inter", sans-serif;
  background: #f4f6f8;
  margin: 0;
}

.navbar {
  background: #111;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.container {
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

button {
  background: #111;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.auth-container {
  max-width: 400px;
  margin: 100px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}
input[type="submit"] {
  background: #111;
  color: white;
  border: none;
  cursor: pointer;
}